Flask==3.0.3; python_version > '3.6'
Flask==2.3.3; python_version < '3.7'
Werkzeug==3.0.3; python_version > '3.6'
Werkzeug==2.3.7; python_version < '3.7'
gunicorn==22.0.0
tensorflow==2.18.0
pandas==2.2.3
scikit-learn
keras==3.7.0
nltk==3.9.1